<!DOCTYPE html>
<html ng-app="esec-website">
   <head>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/scrolling-nav.css" />
      <link rel="stylesheet" type="text/css" href="css/full-slider.css" />
      <script type="text/javascript" src="js/app.js"></script>
      <!-- jQuery -->
      <script src="lib/jquery.js"></script>
      
      <script type="text/javascript" src="js/bootstrap.min.js"></script>

      <!-- Scrolling Nav JavaScript -->
      <script src="lib/jquery.easing.min.js"></script>
      <script src="lib/scrolling-nav.js"></script>
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand page-scroll" href="#page-top">Engineering Science Education Conference</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                     <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#speakers">Speakers</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      
      <!-- Full Page Image Background Carousel Header -->
      <header id="myCarousel" class="carousel slide">
         <!-- Indicators -->
         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
         </ol>

         <!-- Wrapper for Slides -->
         <div class="carousel-inner">
            <div class="item active">
               <!-- Set the first background image using inline CSS below. -->
               <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
               <div class="carousel-caption" style="background-color:rgba(0,0,0,0.25);">
                  <p>ESEC introductory stuff to explain something about ESEC.</p>
               </div>
            </div>
            <div class="item">
               <!-- Set the second background image using inline CSS below. -->
               <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
               <div class="carousel-caption" style="background-color:rgba(0,0,0,0.25);">
                  <p>ESEC introductory stuff to explain something about ESEC.</p>
               </div>
            </div>
            <div class="item">
                  <!-- Set the third background image using inline CSS below. -->
               <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
               <div class="carousel-caption" style="background-color:rgba(0,0,0,0.25);">
                  <p>ESEC introductory stuff to explain something about ESEC.</p>
               </div>
            </div>
         </div>

         <!-- Controls -->
         <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="icon-prev"></span>
         </a>
         <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
         </a>

      </header>
      
      <section id="about" class="about-section">
            <section class="container">
               <div class="page-header">
                  <h1>Welcome to ESEC! <small>The five W's</small></h1>
               </div>
			   <div ng-controller="TimerController as this" style="text-align:center; font-size:300%">
					{{timeDiff.d + ' Days'}}
					{{timeDiff.h + ' Hours'}}
					{{timeDiff.m + ' Minutes' }}
					{{timeDiff.s + ' Seconds' }}
			   </div>
            </section>
      </section>
      <section id="speakers" class="speaker-section">
         <div style="background-color:#eee;">
            <section class="container" ng-controller="PanelController as panel">
               <div class="page-header">
                  <h1>Meet your speakers. <small>And your speakers are...</small></h1>
               </div>
               <div class="panel-body" ng-controller="SpeakerController as ESEC">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="col-sm-6 col-md-4" ng-repeat="(index, speaker) in ESEC.speakers">
                           <a href ng-click="panel.selectTab(index)" class="thumbnail" style="width:175px; text-align:center;">
                              <img src={{speaker.img}} alt="profile picture">
                              <div class="caption">
                                 <h4>{{speaker.name}}</h4>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <ul class="list-group" >
                           <li class="list-group-item" ng-repeat="(index, speaker) in ESEC.speakers" ng-show="panel.isSelected(index)" style="height:775px;">
                              <h3> 
                                 <a href={{speaker.url}} target="_blank">{{speaker.name}}</a>
                                 <em class="pull-right">{{speaker.provenance}}</em>
                              </h3>
                              <h4>{{speaker.option}} Speaker</h4>
                              <br>
                              <h4 style="color:darkblue;">{{speaker.school}}</h4>
                              <br>
                              <p ng-repeat="para in speaker.description">{{para}}</p>
                              <br>
                              <a href={{speaker.url}} target="_blank">Website</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </section>
      <section id="contact" class="contact-section">
         <div style="text-align: center;">
            <section class="container">
               <div class="page-header">
                  <h1>Questions? Concerns? <small>Here's how you can reach us!</small></h1>
               </div>
               <div class="row" style="text-align: left;">
                  <div class="col-md-6">
                     <h3>Telephone & Email</h3>
                     <h3>Address</h3>
                  </div>
               </div>
            </section>
         </div>
      </section>
   </body>
   
   <script>
      <!-- Script to Activate the Carousel -->
      $('.carousel').carousel({
         interval: 5000 //changes the speed
      })
   </script>
</html>