<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>ESEC</title>

        <script src="../static/lib/angular.min.js"></script>
        <script src="../static/lib/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <h1>Rahul you can put your stuff here</h1>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   
    </body>
</html>